/* Mobile */
@media only screen and (max-width: 600px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-size: 16px;
        font-family: "Inter",sans-serif;
    }

    body{
        width: 100%;
        background: #E5E5E5;
    }

    .wrapper{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;
    }

    .icon{
        width: 100vw;
        order: 1;
    }

    .icon .container{
        display: flex;
        margin-top: 15px;
        margin-left: 15px;
    }

    .area-entrada{
        order: 2;
    }

    .area-entrada , .area-entrada textarea{
        display: flex;
        width: calc(100% - 10px);
        background: #E5E5E5;
        margin-left: 10px;
        margin-right: 10px;
        border: none;
        font-size: 1.3em;
        
    }

    .area-entrada{
        height: 30vh;
        padding-top: 50px;
    }

    .botones{
        width: calc(100% - 10px);
        order: 3;
    }

    .botones p{
        display: flex;
        align-items: center;
        margin-bottom: 5%;
        font-size: 0.8em;
        
    }

    .botones p > img{
        margin-right: 8px;
    }

    .botones .items{
        display: flex;
        flex-direction: column;
        margin: 10px 15px;
    }

    .botones .items input[type=button]{
        width: 100%;
        height: 60px;
        border-radius: 20px;
    }

    #btn-encriptar{
        background: #0A3871;
        color: white;
        margin-bottom: 20px;
    }
    
    #btn-desencriptar{
        background:#D8DFE8;
    }

    .area-salida{
        margin-top: 10%;
        margin-bottom: 10%;
        width: 100vw;
        height: 40%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
        order: 4;
        
    }

    .area-salida .items{
        width: 90vw;
        height: 45vh;
        background: #FFFFFF;
        border-radius: 20px;
    }

    .area-salida .container-img{
        display: none;
    }

    .area-salida h2{
        padding-top: 10%;
        font-size: 1.5em;
        font-weight: bold;
    }

    .area-salida h3{
        padding-top: 10%;
        color: gray;
        font-size: 1.0em;
    }

    #mensaje-salida{
        display: flex;
        justify-content: center;
    }

    #mensaje-encriptado{
        border: none;
    }
    
    #btn-copiar{
        margin: auto;
        width: 279px;
        height: 67px;
        border-radius: 24px;
        color: #0A3871;
        background: #ffffff;
    }


}


/* Tablet */

@media only screen and (max-width: 991px) and (min-width: 601px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
        font-size: 16px;
        font-family: "Inter",sans-serif;
    }

    body{
        width: 100%;
        background: #E5E5E5;
    }

    .wrapper{
        width: 100%;
        margin: auto;
        display: flex;
        flex-direction: column;

    }

    .icon{
        width: 100vw;
        order: 1;
    }

    .icon .container{
        display: flex;
        margin-top: 73px;
        margin-left: 40px;
    }

    .area-entrada , .area-entrada textarea{
        display: flex;
        width: calc(100% - 10px);
        background: #E5E5E5;
        margin-left: 10px;
        margin-right: 10px;
        border: none;
        font-size: 1.3em;
    }

    .area-entrada{
        height: 30vh;
        padding-top: 120px;
        order: 2;
    }

    .botones{
        width: calc(100% - 10px);
        margin-top: 548px;
        order: 3;
    }

    .botones p{
        display: flex;
        align-items: center;
        margin-bottom: 5%;
        font-size: 0.8em;
        
    }

    .botones p > img{
        margin-right: 8px;
    }

    .botones .items{
        display: flex;
        flex-direction: column;
        margin: 10px 15px;
    }

    .botones .items input[type=button]{
        width: 100%;
        height: 60px;
        border-radius: 20px;
    }

    #btn-encriptar{
        background: #0A3871;
        color: white;
        margin-bottom: 20px;
    }
    
    #btn-desencriptar{
        background:#D8DFE8;
    }

    .area-salida{
        margin-top: 10%;
        margin-bottom: 10%;
        width: 100vw;
        height: 35%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
        order: 4;
    }

    .area-salida{
        margin-top: 10%;
        margin-bottom: 10%;
        width: 100vw;
        height: 30%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        align-content: center;
    }

    .area-salida .items{
        width: 90vw;
        height: 20vh;
        background: #FFFFFF;
        border-radius: 20px;
    }

    .area-salida .container-img{
        display: none;
    }

    .area-salida h2{
        padding-top: 5%;
        font-size: 1.1em;
        font-weight: bold;
    }

    .salto{
        display: none;
    }

    .area-salida h3{
        padding-top: 5%;
        color: gray;
        font-size: 0.8em;
    }

    #mensaje-salida{
        width: 100%;
        height: 8vh;
        margin-bottom: 10px;
    }

    #mensaje-encriptado{
        width: 90%;
        height: 8vh;
        border: none;
    }

    #btn-copiar{
        
        margin: auto;
        width: 279px;
        height: 67px;
        border-radius: 24px;
        color: #0A3871;
        background: #ffffff;
        cursor: pointer;
    }



}

/* Desktop V2*/

@media only screen and (min-width: 992px){
    *{
        margin: 0px;
        padding: 0px;
        box-sizing: border-box;
    }

    body, html{
        width: 100%;
        background: #E5E5E5;
    }
    
    .wrapper{
        width: 100vw;
        height: 100vh;
        font-size: 16px;
        margin: auto;
        font-family: "Inter", sans-serif;
    }

    .ventana-izquierda{
        float: left;
        width: 68vw;
        height: 100vh;
    }

    .ventana-derecha{
        float: right;
        width: 32vw;
        height: 100vh;
    }

    .icon{
        float: left;
        clear: left;
        position: relative;
        width: 68vw;
        height: 16vh;
        background: #E5E5E5;
    }

    .icon img{
        position: absolute;
        top: 4.5vh;
        left: 4.3vw;
    }

    .area-entrada{
        float: left;
        clear: left;
        width: 68vw;
        height: 64vh;
        /*background: greenyellow;*/
    }

    .area-entrada textarea{
        position: relative;
        left: 310px;
        width: 37.1vw;
        height: 64vh;
        font-size: 2em;
        color: #0A3871;
        background: none;
        border:1px solid #0A3871;
    }

    .area-entrada textarea:hover{
        border:1px solid #0A3871;
    }

    .area-entrada textarea:active{
        border:1px solid #0A3871;
    }

    .area-entrada textarea:focus{
        border:1px solid #0A3871;
    }

    .botones{
        float: left;
        clear: left;
        width: 68vw;
        height: 20vh;
        /*background: pink;*/
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .botones .items{
        display: flex;
        flex-direction: row;
        justify-content: center;
        flex-wrap: wrap;
    }

    .botones .items p{
        width: 100%;
        margin-left: 15%;
        margin-bottom: 15px;
    }


    .botones input[type=button]{
        width: 500px;
        height: 67px;
        width: 328px;
        border-radius: 24px;
        font-size: 1em;
        border: 1px solid #0A3871;
        cursor: pointer;
    }

    #btn-encriptar{
        background: #0A3871;
        color: white;
        margin-right: 24px;
    }

    #btn-desencriptar{
        background: #D8DFE8;
        color: #0A3871;
    }

    .area-salida{
        float: right;
        clear: right;
        width: 32vw;
        height: 100vh;
        /*background: paleturquoise;*/
        /* Configuraciones de items */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .area-salida .items{
        margin: 5vh 0;
        height: 100vh;
        width: 20vw;
        border-radius: 32px;
        background: #ffffff;
        /* Configuraciones de items */
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;

    }

    #mensaje-encriptado{
        height: 70vh;
        width: 100%;
        font-family: "Inter", sans-serif;
        border: none;
        font-size: 1.5em;
        padding-left: 20px;
        padding-right: 20px;
    }


    .container-img{
        width: 100%;
        padding: 0 40px;
    }

    #btn-copiar{
        font-size: 1em;
        color: #0A3871;
        border: 1px solid #0A3871;
        border-radius: 15px;
        background: #ffffff;
        width: 16vw;
        height: 8vh;
        cursor: pointer;
    }

    


}